.footer {
  background-color: var(--grey-color);
  color: #fff;
  min-height: 322px;

  &__content {
    height: 237px;
    padding-top: 31px;
    width: var(--large-content-width);
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media screen and (max-width: 1439px) {
      height: 248px;
    }

    @media screen and (max-width: 1023px) {
      height: unset;
      flex-direction: column-reverse;
      padding-bottom: 50px;
    }
  }

  &__left {
    display: flex;
    width: 440px;
    height: 100%;
    border-bottom: 1px solid #fff;

    @media screen and (max-width: 1023px) {
      padding-bottom: 30px;
    }

    @media screen and (max-width: 767px) {
      width: 100%;
      justify-content: space-between;
    }
  }

  &__nav {
    width: 90px;
    margin-right: 62px;

    @media screen and (max-width: 767px) {
      width: 85px;
      margin-right: 0;
    }
  }

  &__title {
    @include font(700, 20px, 25px);
    margin-bottom: 16px;

    @media screen and (max-width: 767px) {
      font-size: 14px;
      line-height: 17px;
    }
  }

  &__txt {
    @include font(400, 16px, 19px);

    @media screen and (max-width: 767px) {
      font-size: 14px;
      line-height: 17px;
    }
  }

  &__link {
    display: block;
    @include transition;
    margin-bottom: 6px;

    &:hover {
      opacity: .6;
    }

    @media screen and (max-width: 767px) {
      margin-bottom: 8px;
    }
  }

  &__left-container {
    display: flex;
    flex-direction: column;

    @media screen and (max-width: 767px) {
      width: 60%;
    }
  }

  &__contacts {
    margin-top: 38px;

    @media screen and (max-width: 1439px) {
      margin-top: 11px;
    }

    @media screen and (max-width: 1023px) {
      margin-top: 30px;
    }

    @media screen and (max-width: 767px) {
      margin-top: 16px;
    }
  }

  &__logo {
    width: 214px;
    height: 214px;

    @media screen and (max-width: 767px) {
      width: 120px;
      height: 120px;
      margin-bottom: 25px;
    }
  }

  &__right {
    height: 100%;
    width: 440px;
    border-bottom: 1px solid #fff;

    @media screen and (max-width: 1023px) {
      padding-bottom: 30px;
      margin-bottom: 20px;
    }

    @media screen and (max-width: 767px) {
      width: 100%;
    }
  }

  &__input-container {
    position: relative;
    margin-top: 57px;
    height: 54px;
    width: 100%;

    @media screen and (max-width: 767px) {
      height: 34px;
      margin-top: 21px;
    }
  }

  &__input {
    background-color: #fff;
    box-shadow: 6px 10px 25px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    border: 1px solid transparent;
    @include transition;
    @include font(400, 16px, 19px);
    color: var(--grey-color);
    box-sizing: border-box;
    padding: 17px 22px;
    width: 68%;
    height: 100%;

    @media screen and (max-width: 767px) {
      font-size: 14px;
      line-height: 17px;
    }

    &:focus-visible {
      outline: none;
      border-color: var(--red-color);
    }
  }

  &__btn {
    position: absolute;
    right: 0;
    top: 0;
    font-size: 16px;
    width: 35%;

    @media screen and (max-width: 767px) {
      height: 110%;
      font-size: 14px;
      line-height: 17px;
    }
  }
}