.headline {
  margin-bottom: 48px;
  position: relative;
  overflow: hidden;

  &__content {
    width: var(--large-content-width);
    margin: 0 auto;
    position: relative;
  }

  &__title {
    @include font(500, 48px, 58px);
    margin-top: 47px;

    @media screen and (max-width: 767px) {
      margin-top: 0;
      font-size: 24px;
      line-height: 29px;
    }
  }

  &__date {
    @include font(300, 14px, 17px);
    display: block;
    margin-bottom: 29px;
    color: var(--grey-color);
  }

  &__img {
    display: block;
    width: 100%;
    height: 517px;
    border-radius: 10px;
    margin-bottom: 68px;

    @media screen and (max-width: 767px) {
      height: calc(100vw * .446);
      margin-bottom: 16px;
    }
  }

  &__bg {
    position: absolute;
    display: block;
    width: 1147px;
    height: 1165px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url(../images/big-red-square.png);
    z-index: -1;

    @media screen and (max-width: 1023px) {
      display: none;
    }

    &_first {
      top: -243px;
      left: -1181px;
    }

    &_second {
      right: -1175px;
      top: 216px;
    }
  }
}