@import '../vendor/normalize.css';
@import '../vendor/fonts/fonts.css';
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");
@import url("https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css");
.page {
  background-color: #F5F5F5;
  font-family: "Gilroy", sans-serif;
}

.link {
  text-decoration: none;
  color: unset;
}

.button {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  margin: 0;
  border: 1px solid #921012;
  background-color: #921012;
  border-radius: 8px;
  box-sizing: border-box;
  color: #fff;
  padding: 0;
  margin: 0;
  height: 54px;
  cursor: pointer;
  transition: all 0.4s ease;
}
.button:hover {
  background-color: #fff;
  color: #921012;
}

.list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.card {
  width: 286px;
  height: 354px;
  background: #FFFFFF;
  box-shadow: 6px 10px 25px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  box-sizing: border-box;
  border: 2px solid transparent;
  transition: all 0.4s ease;
}
.card:hover {
  border-color: #921012;
}
.card__link {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}
.card__img {
  height: 162px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  margin-bottom: 9px;
  border-radius: 10px 10px 0 0;
}
.card__content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  width: 100%;
  padding: 0 24px 24px;
  box-sizing: border-box;
}
.card__title {
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  margin: 0;
  margin-bottom: 6px;
  color: #000;
}
.card__number {
  font-weight: 400;
  font-size: 14px;
  line-height: 25px;
  margin: 0;
  color: #808080;
  opacity: 0.7;
}
.card__price {
  margin-top: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.card__price-old {
  display: block;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  margin: 0;
  color: #808080;
  text-decoration-line: line-through;
}
.card__price-new {
  display: block;
  font-weight: 500;
  font-size: 43px;
  line-height: 52px;
  margin: 0;
  color: #921012;
}

.article {
  display: flex;
  flex-direction: column;
  width: 286px;
  height: 527px;
  background: #FFFFFF;
  box-shadow: 6px 0 25px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}
.article_slide {
  width: 100%;
  height: 100%;
}
.article__img {
  border-radius: 10px 10px 0 0;
  width: 100%;
  height: 248px;
  -o-object-fit: cover;
     object-fit: cover;
}
.article__content {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 100%;
  padding: 14px 14px 22px 14px;
  flex-grow: 1;
}
.article__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 25px;
  margin: 0;
}
.article__date {
  font-weight: 400;
  font-size: 14px;
  line-height: 25px;
  margin: 0;
  color: #425362;
  display: block;
}
.article__txt {
  font-weight: 300;
  font-size: 16px;
  line-height: 16px;
  margin: 0;
  margin: 17px 0;
}
.article__link {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: auto;
}

.header {
  background-color: #fff;
}
.header__top {
  width: 100%;
  border-bottom: 1px solid rgba(30, 30, 30, 0.1725490196);
  height: 78px;
  display: flex;
  align-items: center;
}
.header__top-content {
  width: 1220px;
  margin: 0 auto;
  display: flex;
  align-items: center;
}
.header__link {
  transition: all 0.4s ease;
}
.header__link:hover {
  opacity: 0.6;
}
.header__link_number {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  margin: 0;
  display: block;
  margin-left: 44px;
  font-family: "Montserrat";
  color: #425362;
}
.header__input-container {
  width: 337px;
  height: 38px;
  position: relative;
  margin-left: 207px;
}
.header__input {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  margin: 0;
  background-color: rgba(30, 30, 30, 0.0470588235);
  color: #425362;
  border: 1px solid transparent;
  box-sizing: border-box;
  border-radius: 8px;
  width: 100%;
  height: 100%;
  padding-left: 11px;
  padding-right: 38px;
  transition: all 0.2s ease;
}
.header__input:focus-visible {
  border-color: #921012;
  outline: none;
}
.header__search {
  display: block;
  width: 38px;
  height: 38px;
  background: url(../images/search.svg) no-repeat center/16px;
  cursor: pointer;
  position: absolute;
  right: 0;
  top: 0;
  transition: all 0.4s ease;
}
.header__search:hover {
  transform: scale(1.2);
}
.header__btn {
  margin-left: auto;
  font-size: 14px;
  line-height: 17px;
  width: 163px;
  height: 38px;
}
.header__bottom {
  height: 76px;
  display: flex;
  justify-content: center;
}
.header__menu-list {
  display: flex;
  justify-content: space-between;
  gap: 60px;
}
.header__menu-link {
  display: block;
  padding: 27px 10px 27px;
  box-sizing: border-box;
  border-top: 2px solid transparent;
  color: #425362;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  margin: 0;
  font-family: "Montserrat";
  transition: all 0.4s ease;
}
.header__menu-link:hover {
  text-shadow: 0 0 0.8px #921012, 0 0 0.8px #921012;
  border-color: #921012;
  color: #921012;
}

.hero {
  width: 100%;
  height: 542px;
  position: relative;
  margin-bottom: 20px;
}
.hero__content {
  width: 1206px;
  padding-top: 66px;
  margin: 0 auto;
  position: relative;
  z-index: 2;
}
.hero__title {
  margin: 0;
  color: #fff;
  max-width: 675px;
  font-weight: 900;
  font-size: 74px;
  line-height: 73px;
  margin: 0;
}
.hero__txt-block {
  position: relative;
  z-index: 3;
  max-width: 495px;
  margin: 18px 0 38px;
}
.hero__txt-block::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: block;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.02);
  -webkit-backdrop-filter: blur(4.5px);
          backdrop-filter: blur(4.5px);
  z-index: 2;
  border-radius: 24px;
}
.hero__txt {
  color: #fff;
  display: block;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  margin: 0;
  margin: 0;
  position: relative;
  z-index: 3;
}
.hero__btn {
  width: 399px;
}
.hero__swiper {
  width: 100%;
  height: 100%;
}
.hero__swiper-wrapper {
  width: 100%;
  height: 100%;
  position: relative;
}
.hero__swiper-slide {
  width: 100%;
  height: 100%;
}
.hero__swiper-slide_first {
  background: url(../images/hero-background.jpg) no-repeat center/cover;
}
.hero__pagination {
  display: block;
  position: absolute;
  z-index: 3;
  left: 50%;
  bottom: 29px;
  transform: translateX(50%);
}
.hero__pagination .swiper-pagination-bullet {
  width: 11px;
  height: 11px;
  background-color: #fff;
  opacity: 1;
}
.hero__pagination .swiper-pagination-bullet-active {
  background-color: #921012;
}

.tech__content {
  width: 1206px;
  margin: 0 auto 120px;
}
.tech__title {
  font-weight: 700;
  font-size: 48px;
  line-height: 59px;
  margin: 0;
  color: #425362;
  max-width: 848px;
  padding-top: 30px;
}
.tech__txt {
  font-weight: 500;
  font-size: 16px;
  line-height: 29px;
  margin: 0;
  margin: 18px 0 29px;
  max-width: 712px;
}
.tech__logos {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 94px;
  -moz-column-gap: 34px;
       column-gap: 34px;
}
.tech__logo {
  display: block;
  height: -moz-min-content;
  height: min-content;
}
.tech__btn {
  width: 399px;
}

.recommend__content {
  width: 1206px;
  margin: 0 auto;
  position: relative;
}
.recommend__swiper-wrapper {
  margin-bottom: 57px;
}
.recommend__title {
  font-weight: 700;
  font-size: 32px;
  line-height: 40px;
  margin: 0;
  margin-bottom: 46px;
  text-align: center;
  color: #425362;
}
.recommend__swiper-btn {
  display: block;
  position: absolute;
  top: 50%;
  transform: translateY(50%);
  width: 24px;
  height: 24px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
}
.recommend__swiper-btn_back {
  left: -50px;
  background-image: url(../images/red-arrow-back.svg);
}
.recommend__swiper-btn_next {
  right: -50px;
  background-image: url(../images/red-arrow-next.svg);
}
.recommend__swiper-pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 17px;
}
.recommend__swiper-pagination .swiper-pagination-bullet {
  width: 11px;
  height: 11px;
  background-color: #D3AF75;
  opacity: 1;
  transition: all 0.4s ease;
}
.recommend__swiper-pagination .swiper-pagination-bullet-active {
  width: 17px;
  height: 17px;
  background-color: #921012;
}

.delivery {
  margin-top: 150px;
  margin-bottom: 205px;
}
.delivery__content {
  width: 1206px;
  margin: 0 auto;
  position: relative;
}
.delivery__txt-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 417px;
  margin: 0 auto;
}
.delivery__title {
  font-weight: 700;
  font-size: 40px;
  line-height: 50px;
  margin: 0;
  color: #425362;
}
.delivery__txt {
  font-weight: 500;
  font-size: 16px;
  line-height: 29px;
  margin: 0;
  margin: 40px 0;
}
.delivery__btn {
  width: 100%;
}
.delivery__companies {
  display: flex;
  justify-content: space-between;
  height: 100%;
  flex-direction: column;
  position: absolute;
  right: 0;
  top: 0;
}
.delivery__companies-img {
  display: block;
}

.news {
  margin-bottom: 57px;
}
.news__content {
  position: relative;
}
.news__content_main {
  width: 1206px;
  margin: 0 auto;
}
.news__swiper {
  margin-bottom: 57px;
}
.news__pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  height: 17px;
}
.news__pagination .swiper-pagination-bullet {
  background-color: #D3AF75;
  width: 11px;
  height: 11px;
  opacity: 1;
  transition: all 0.4s ease;
}
.news__pagination .swiper-pagination-bullet-active {
  width: 17px;
  height: 17px;
  background-color: #921012;
}/*# sourceMappingURL=styles.css.map */