@import '../vendor/normalize.css';
@import '../vendor/fonts/fonts.css';
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");
@import url("https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css");
.page {
  background-color: #F5F5F5;
  font-family: "Gilroy", sans-serif;
  -webkit-tap-highlight-color: transparent;
  --red-color: #921012;
  --grey-color: #425362;
  --sand-color: #D3AF75;
  --large-content-width: 1206px;
  --content-width: 1054px;
}
@media screen and (max-width: 1439px) {
  .page {
    --large-content-width: 90%;
    --content-width: 90%;
  }
}

.link {
  text-decoration: none;
  color: unset;
}

.button {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  margin: 0;
  border: 1px solid var(--red-color);
  background-color: var(--red-color);
  border-radius: 8px;
  box-sizing: border-box;
  color: #fff;
  padding: 0;
  margin: 0;
  height: 54px;
  cursor: pointer;
  transition: all 0.4s ease;
}
@media screen and (max-width: 767px) {
  .button {
    height: 44px;
    font-size: 16px;
    line-height: 20px;
  }
}
.button:hover {
  background-color: #fff;
  color: var(--red-color);
}

.list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.txt {
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  margin: 0;
  margin-bottom: 25px;
}
@media screen and (max-width: 767px) {
  .txt {
    margin-bottom: 19px;
  }
}

.txt {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  margin: 0;
  margin-bottom: 10px;
}
@media screen and (max-width: 767px) {
  .txt {
    font-size: 14px;
    line-height: 17px;
    margin-bottom: 6px;
  }
}

.card {
  width: 286px;
  height: 354px;
  background: #FFFFFF;
  box-shadow: 6px 0px 25px rgba(0, 0, 0, 0.06);
  border-radius: 10px;
  box-sizing: border-box;
  border: 2px solid transparent;
  transition: all 0.4s ease;
}
.card:hover {
  border-color: var(--red-color);
}
.card__link {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}
.card__img {
  height: 162px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  margin-bottom: 9px;
  border-radius: 10px 10px 0 0;
}
.card__content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  width: 100%;
  padding: 0 24px 24px;
  box-sizing: border-box;
}
.card__title {
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  margin: 0;
  margin-bottom: 6px;
  color: #000;
}
.card__number {
  font-weight: 400;
  font-size: 14px;
  line-height: 25px;
  margin: 0;
  color: #808080;
  opacity: 0.7;
}
.card__price {
  margin-top: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.card__price-old {
  display: block;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  margin: 0;
  color: #808080;
  text-decoration-line: line-through;
}
.card__price-new {
  display: block;
  font-weight: 500;
  font-size: 43px;
  line-height: 52px;
  margin: 0;
  color: var(--red-color);
}

.article {
  display: flex;
  flex-direction: column;
  width: 286px;
  height: 527px;
  background: #FFFFFF;
  box-shadow: 6px 0 25px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}
.article_slide {
  width: 100%;
  height: 100%;
}
.article__img {
  border-radius: 10px 10px 0 0;
  width: 100%;
  height: 248px;
  -o-object-fit: cover;
     object-fit: cover;
}
.article__content {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 100%;
  padding: 14px 14px 22px 14px;
  flex-grow: 1;
}
.article__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 25px;
  margin: 0;
}
.article__date {
  font-weight: 400;
  font-size: 14px;
  line-height: 25px;
  margin: 0;
  color: var(--grey-color);
  display: block;
}
.article__txt {
  font-weight: 300;
  font-size: 16px;
  line-height: 16px;
  margin: 0;
  margin: 17px 0;
}
.article__link {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: auto;
}

.breadcrumbs {
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  margin: 0;
  margin-top: 24px;
  margin-bottom: 32px;
  display: flex;
  -moz-column-gap: 22px;
       column-gap: 22px;
  align-items: center;
  color: var(--grey-color);
  flex-wrap: wrap;
}
@media screen and (max-width: 767px) {
  .breadcrumbs {
    -moz-column-gap: 2px;
         column-gap: 2px;
    font-size: 12px;
    line-height: 14px;
  }
}
.breadcrumbs__link {
  transition: all 0.4s ease;
}
.breadcrumbs__link_active {
  text-decoration: underline;
}
.breadcrumbs__link:hover {
  opacity: 0.6;
}

.header {
  background-color: #fff;
  overflow: hidden;
  position: relative;
}
.header__top {
  width: 100%;
  border-bottom: 1px solid rgba(30, 30, 30, 0.1725490196);
  height: 78px;
  display: flex;
  align-items: center;
}
.header__top-content {
  width: 1220px;
  margin: 0 auto;
  display: flex;
  align-items: center;
}
@media screen and (max-width: 1439px) {
  .header__top-content {
    width: 95%;
  }
}
@media screen and (max-width: 767px) {
  .header__top-content {
    justify-content: space-between;
    position: relative;
  }
}
.header__link {
  transition: all 0.4s ease;
}
.header__link:hover {
  opacity: 0.6;
}
.header__link_number {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  margin: 0;
  display: block;
  margin-left: 44px;
  font-family: "Montserrat";
  color: var(--grey-color);
}
@media screen and (max-width: 1023px) {
  .header__link_number {
    margin-left: 18px;
  }
}
@media screen and (max-width: 767px) {
  .header__link_number {
    position: absolute;
    top: 518px;
    left: 50%;
    transform: translateX(-50%);
    margin-left: 0;
  }
}
.header__input-container {
  width: 337px;
  height: 38px;
  position: relative;
  margin-left: 207px;
}
@media screen and (max-width: 1439px) {
  .header__input-container {
    margin-left: 120px;
  }
}
@media screen and (max-width: 1023px) {
  .header__input-container {
    width: 261px;
    margin-left: 45px;
  }
}
@media screen and (max-width: 767px) {
  .header__input-container {
    position: absolute;
    left: 0;
    top: 98px;
    width: 100%;
    margin-left: 0;
  }
}
.header__input {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  margin: 0;
  background-color: rgba(30, 30, 30, 0.0470588235);
  color: var(--grey-color);
  border: 1px solid transparent;
  box-sizing: border-box;
  border-radius: 8px;
  width: 100%;
  height: 100%;
  padding-left: 11px;
  padding-right: 38px;
  transition: all 0.2s ease;
}
.header__input:focus-visible {
  border-color: var(--red-color);
  outline: none;
}
.header__search {
  display: block;
  width: 38px;
  height: 38px;
  background: url(../images/search.svg) no-repeat center/16px;
  cursor: pointer;
  position: absolute;
  right: 0;
  top: 0;
  transition: all 0.4s ease;
}
.header__search:hover {
  transform: scale(1.2);
}
.header__btn {
  margin-left: auto;
  font-size: 14px;
  line-height: 17px;
  width: 163px;
  height: 38px;
}
@media screen and (max-width: 767px) {
  .header__btn {
    display: none;
  }
}
.header__bottom {
  height: 76px;
  display: flex;
  justify-content: center;
}
@media screen and (max-width: 767px) {
  .header__bottom {
    height: 508px;
    transition: all 0.4s ease;
  }
}
@media screen and (max-width: 767px) {
  .header__bottom_closed {
    height: 0;
  }
}
.header__menu-list {
  display: flex;
  justify-content: space-between;
  gap: 60px;
}
@media screen and (max-width: 1023px) {
  .header__menu-list {
    gap: 20px;
  }
}
@media screen and (max-width: 767px) {
  .header__menu-list {
    flex-direction: column;
    align-items: center;
    margin-top: 89px;
    margin-bottom: 50px;
  }
}
.header__menu-link {
  display: block;
  padding: 27px 10px 27px;
  box-sizing: border-box;
  border-top: 2px solid transparent;
  color: var(--grey-color);
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  margin: 0;
  font-family: "Montserrat";
  transition: all 0.4s ease;
}
@media screen and (max-width: 767px) {
  .header__menu-link {
    padding-top: 5px;
    padding-bottom: 5px;
    border-top: none;
  }
}
.header__menu-link_active {
  text-shadow: 0 0 0.8px var(--red-color), 0 0 0.8px var(--red-color);
  border-color: var(--red-color);
  color: var(--red-color);
}
.header__menu-link:hover {
  text-shadow: 0 0 0.8px var(--red-color), 0 0 0.8px var(--red-color);
  border-color: var(--red-color);
  color: var(--red-color);
}
.header__menu-btn {
  display: none;
  transition: all 0.4s ease;
}
@media screen and (max-width: 767px) {
  .header__menu-btn {
    display: block;
    width: 26px;
    height: 18px;
    background: url(../images/hamburger.svg) no-repeat center/contain;
  }
}
.header__menu-btn_opened {
  opacity: 0.5;
}

.main {
  position: relative;
  overflow: hidden;
}

.footer {
  background-color: var(--grey-color);
  color: #fff;
  min-height: 322px;
}
.footer__content {
  height: 237px;
  padding-top: 31px;
  width: var(--large-content-width);
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media screen and (max-width: 1439px) {
  .footer__content {
    height: 248px;
  }
}
@media screen and (max-width: 1023px) {
  .footer__content {
    height: unset;
    flex-direction: column-reverse;
    padding-bottom: 50px;
  }
}
.footer__left {
  display: flex;
  width: 440px;
  height: 100%;
  border-bottom: 1px solid #fff;
}
@media screen and (max-width: 1023px) {
  .footer__left {
    padding-bottom: 30px;
  }
}
@media screen and (max-width: 767px) {
  .footer__left {
    width: 100%;
    justify-content: space-between;
  }
}
.footer__nav {
  width: 90px;
  margin-right: 62px;
}
@media screen and (max-width: 767px) {
  .footer__nav {
    width: 85px;
    margin-right: 0;
  }
}
.footer__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 25px;
  margin: 0;
  margin-bottom: 16px;
}
@media screen and (max-width: 767px) {
  .footer__title {
    font-size: 14px;
    line-height: 17px;
  }
}
.footer__txt {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  margin: 0;
}
@media screen and (max-width: 767px) {
  .footer__txt {
    font-size: 14px;
    line-height: 17px;
  }
}
.footer__link {
  display: block;
  transition: all 0.4s ease;
  margin-bottom: 6px;
}
.footer__link:hover {
  opacity: 0.6;
}
@media screen and (max-width: 767px) {
  .footer__link {
    margin-bottom: 8px;
  }
}
.footer__left-container {
  display: flex;
  flex-direction: column;
}
@media screen and (max-width: 767px) {
  .footer__left-container {
    width: 60%;
  }
}
.footer__contacts {
  margin-top: 38px;
}
@media screen and (max-width: 1439px) {
  .footer__contacts {
    margin-top: 11px;
  }
}
@media screen and (max-width: 1023px) {
  .footer__contacts {
    margin-top: 30px;
  }
}
@media screen and (max-width: 767px) {
  .footer__contacts {
    margin-top: 16px;
  }
}
.footer__logo {
  width: 214px;
  height: 214px;
}
@media screen and (max-width: 767px) {
  .footer__logo {
    width: 120px;
    height: 120px;
    margin-bottom: 25px;
  }
}
.footer__right {
  height: 100%;
  width: 440px;
  border-bottom: 1px solid #fff;
}
@media screen and (max-width: 1023px) {
  .footer__right {
    padding-bottom: 30px;
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 767px) {
  .footer__right {
    width: 100%;
  }
}
.footer__input-container {
  position: relative;
  margin-top: 57px;
  height: 54px;
  width: 100%;
}
@media screen and (max-width: 767px) {
  .footer__input-container {
    height: 34px;
    margin-top: 21px;
  }
}
.footer__input {
  background-color: #fff;
  box-shadow: 6px 10px 25px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  border: 1px solid transparent;
  transition: all 0.4s ease;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  margin: 0;
  color: var(--grey-color);
  box-sizing: border-box;
  padding: 17px 22px;
  width: 68%;
  height: 100%;
}
@media screen and (max-width: 767px) {
  .footer__input {
    font-size: 14px;
    line-height: 17px;
  }
}
.footer__input:focus-visible {
  outline: none;
  border-color: var(--red-color);
}
.footer__btn {
  position: absolute;
  right: 0;
  top: 0;
  font-size: 16px;
  width: 35%;
}
@media screen and (max-width: 767px) {
  .footer__btn {
    height: 110%;
    font-size: 14px;
    line-height: 17px;
  }
}

.hero {
  width: 100%;
  height: 542px;
  position: relative;
  margin-bottom: 20px;
}
@media screen and (max-width: 767px) {
  .hero {
    height: 321px;
  }
}
.hero__content {
  width: var(--large-content-width);
  padding-top: 66px;
  margin: 0 auto;
  position: relative;
  z-index: 2;
}
@media screen and (max-width: 767px) {
  .hero__content {
    padding-top: 32px;
  }
}
.hero__title {
  margin: 0;
  color: #fff;
  max-width: 675px;
  font-weight: 900;
  font-size: 74px;
  line-height: 73px;
  margin: 0;
}
@media screen and (max-width: 767px) {
  .hero__title {
    font-size: 31px;
    line-height: 32px;
  }
}
.hero__txt-block {
  position: relative;
  z-index: 3;
  max-width: 495px;
  margin: 18px 0 38px;
}
@media screen and (max-width: 767px) {
  .hero__txt-block {
    margin-top: 28px;
    margin-bottom: 33px;
    max-width: 280px;
  }
}
.hero__txt-block::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: block;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.02);
  -webkit-backdrop-filter: blur(4.5px);
          backdrop-filter: blur(4.5px);
  z-index: 2;
  border-radius: 24px;
}
.hero__txt {
  color: #fff;
  display: block;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  margin: 0;
  margin: 0;
  position: relative;
  z-index: 3;
}
@media screen and (max-width: 767px) {
  .hero__txt {
    font-size: 14px;
    line-height: 17px;
  }
}
.hero__btn {
  width: 399px;
}
@media screen and (max-width: 767px) {
  .hero__btn {
    display: block;
    width: 80%;
    margin: 0 auto;
  }
}
.hero__swiper {
  width: 100%;
  height: 100%;
}
.hero__swiper-wrapper {
  width: 100%;
  height: 100%;
  position: relative;
}
.hero__swiper-slide {
  width: 100%;
  height: 100%;
}
.hero__swiper-slide_first {
  background: url(../images/hero-background.jpg) no-repeat center/cover;
}
.hero__pagination {
  display: flex;
  gap: 5px;
  position: absolute;
  z-index: 3;
  width: unset !important;
  left: 50% !important;
  bottom: 16px !important;
  transform: translateX(-50%);
}
.hero__pagination .swiper-pagination-bullet {
  width: 11px;
  height: 11px;
  background-color: #fff;
  opacity: 1;
}
.hero__pagination .swiper-pagination-bullet-active {
  background-color: var(--red-color);
}

.tech {
  position: relative;
  overflow: hidden;
}
.tech__content {
  width: var(--large-content-width);
  margin: 0 auto 120px;
  position: relative;
}
@media screen and (max-width: 767px) {
  .tech__content {
    margin-bottom: 65px;
  }
}
.tech__title {
  font-weight: 700;
  font-size: 48px;
  line-height: 59px;
  margin: 0;
  color: var(--grey-color);
  max-width: 848px;
  padding-top: 30px;
}
@media screen and (max-width: 767px) {
  .tech__title {
    max-width: 100%;
    font-size: 20px;
    line-height: 25px;
  }
}
.tech__txt {
  font-weight: 500;
  font-size: 16px;
  line-height: 29px;
  margin: 0;
  margin: 18px 0 29px;
  max-width: 712px;
}
@media screen and (max-width: 767px) {
  .tech__txt {
    font-size: 14px;
    line-height: 21px;
  }
}
.tech__logos {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 94px;
  -moz-column-gap: 34px;
       column-gap: 34px;
}
@media screen and (max-width: 1023px) {
  .tech__logos {
    justify-content: center;
  }
}
@media screen and (max-width: 1023px) {
  .tech__logos {
    margin-bottom: 16px;
  }
}
@media screen and (max-width: 767px) {
  .tech__logos {
    margin-bottom: 25px;
  }
}
.tech__logo {
  display: block;
  height: -moz-min-content;
  height: min-content;
  -o-object-fit: contain;
     object-fit: contain;
}
@media screen and (max-width: 767px) {
  .tech__logo {
    max-width: 29%;
  }
}
.tech__btn {
  width: 399px;
}
@media screen and (max-width: 1023px) {
  .tech__btn {
    width: 100%;
  }
}
.tech__bg {
  display: block;
  position: absolute;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  width: 1160px;
  height: 1160px;
  z-index: -1;
}
@media screen and (max-width: 1439px) {
  .tech__bg {
    width: 800px;
    height: 800px;
  }
}
.tech__bg_first {
  top: -162%;
  left: -67%;
  background-image: url(../images/big-red-square.png);
}
@media screen and (max-width: 1439px) {
  .tech__bg_first {
    top: -80%;
    left: -73%;
  }
}
@media screen and (max-width: 1023px) {
  .tech__bg_first {
    display: none;
  }
}
.tech__bg_second {
  top: -88%;
  right: -74%;
  background-image: url(../images/big-red-square-with-line.png);
}
@media screen and (max-width: 1439px) {
  .tech__bg_second {
    right: -54%;
  }
}
@media screen and (max-width: 1023px) {
  .tech__bg_second {
    display: none;
  }
}

.recommend {
  margin-bottom: 45px;
}
.recommend__content {
  width: var(--large-content-width);
  margin: 0 auto;
  position: relative;
}
.recommend__swiper-wrapper {
  margin-bottom: 57px;
}
.recommend__title {
  font-weight: 700;
  font-size: 32px;
  line-height: 40px;
  margin: 0;
  margin-bottom: 46px;
  text-align: center;
  color: var(--grey-color);
}
@media screen and (max-width: 767px) {
  .recommend__title {
    font-size: 24px;
    line-height: 30px;
    margin-bottom: 30px;
  }
}
.recommend__swiper-btn {
  display: block;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 24px;
  height: 24px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
}
@media screen and (max-width: 1023px) {
  .recommend__swiper-btn {
    top: 504px;
  }
}
@media screen and (max-width: 767px) {
  .recommend__swiper-btn {
    top: 479px;
  }
}
.recommend__swiper-btn_back {
  left: -50px;
  background-image: url(../images/red-arrow-back.svg);
}
@media screen and (max-width: 1023px) {
  .recommend__swiper-btn_back {
    left: 200px;
  }
}
@media screen and (max-width: 767px) {
  .recommend__swiper-btn_back {
    left: 5px;
  }
}
.recommend__swiper-btn_next {
  right: -50px;
  background-image: url(../images/red-arrow-next.svg);
}
@media screen and (max-width: 1023px) {
  .recommend__swiper-btn_next {
    right: 200px;
  }
}
@media screen and (max-width: 767px) {
  .recommend__swiper-btn_next {
    right: 5px;
  }
}
.recommend__swiper-pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 17px;
  gap: 4px;
}
.recommend__swiper-pagination .swiper-pagination-bullet {
  width: 11px;
  height: 11px;
  background-color: var(--sand-color);
  opacity: 1;
  transition: all 0.4s ease;
}
.recommend__swiper-pagination .swiper-pagination-bullet-active {
  width: 17px;
  height: 17px;
  background-color: var(--red-color);
}

.delivery {
  margin-top: 150px;
  margin-bottom: 205px;
  position: relative;
}
@media screen and (max-width: 767px) {
  .delivery {
    margin-top: 59px;
    margin-bottom: 79px;
  }
}
.delivery__content {
  width: var(--large-content-width);
  margin: 0 auto;
  position: relative;
}
@media screen and (max-width: 1023px) {
  .delivery__content {
    display: flex;
    flex-direction: column;
  }
}
.delivery__txt-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 417px;
  margin: 0 auto;
  order: 3;
}
@media screen and (max-width: 1023px) {
  .delivery__txt-block {
    width: var(--large-content-width);
  }
}
.delivery__title {
  font-weight: 700;
  font-size: 40px;
  line-height: 50px;
  margin: 0;
  color: var(--grey-color);
  text-align: center;
  order: 1;
}
@media screen and (max-width: 1023px) {
  .delivery__title {
    margin-bottom: 19px;
  }
}
@media screen and (max-width: 767px) {
  .delivery__title {
    font-size: 24px;
    line-height: 30px;
  }
}
.delivery__txt {
  font-weight: 500;
  font-size: 16px;
  line-height: 29px;
  margin: 0;
  margin: 40px 0;
}
@media screen and (max-width: 767px) {
  .delivery__txt {
    font-size: 14px;
    line-height: 21px;
    margin-bottom: 20px;
  }
}
.delivery__btn {
  width: 100%;
}
.delivery__companies {
  display: flex;
  justify-content: space-between;
  height: 100%;
  flex-direction: column;
  position: absolute;
  right: 0;
  top: 0;
}
@media screen and (max-width: 1023px) {
  .delivery__companies {
    position: relative;
    height: unset;
    width: 250px;
    order: 2;
    align-self: flex-end;
  }
}
@media screen and (max-width: 767px) {
  .delivery__companies {
    width: 124px;
    margin-right: 6%;
  }
}
.delivery__companies-img {
  display: block;
}
@media screen and (max-width: 1439px) {
  .delivery__companies-img {
    width: 80%;
  }
}
@media screen and (max-width: 767px) {
  .delivery__companies-img {
    width: 100%;
  }
}
.delivery__bg {
  display: block;
  position: absolute;
  top: -27%;
  left: -42%;
  width: 829px;
  height: 823px;
  background: url(../images/car.png) no-repeat center/contain;
  z-index: -1;
}
@media screen and (max-width: 1439px) {
  .delivery__bg {
    top: -36%;
    left: -45%;
    width: 654px;
    height: 702px;
  }
}
@media screen and (max-width: 1023px) {
  .delivery__bg {
    top: 42px;
    left: -3%;
    width: 379px;
    height: 450px;
  }
}
@media screen and (max-width: 767px) {
  .delivery__bg {
    left: -229px;
    top: -50px;
  }
}

.news {
  margin-bottom: 57px;
}
.news__content {
  position: relative;
}
.news__content_main {
  width: var(--large-content-width);
  margin: 0 auto;
}
.news__swiper {
  margin-bottom: 57px;
}
@media screen and (max-width: 767px) {
  .news__swiper {
    margin-bottom: 29px;
  }
}
.news__swiper-btn {
  display: block;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 24px;
  height: 24px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
}
@media screen and (max-width: 1023px) {
  .news__swiper-btn {
    top: 576px;
  }
}
@media screen and (max-width: 767px) {
  .news__swiper-btn {
    top: unset;
    bottom: -14px;
  }
}
.news__swiper-btn_back {
  left: -50px;
  background-image: url(../images/red-arrow-back.svg);
}
@media screen and (max-width: 1023px) {
  .news__swiper-btn_back {
    left: 222px;
  }
}
@media screen and (max-width: 767px) {
  .news__swiper-btn_back {
    left: 5px;
  }
}
.news__swiper-btn_next {
  right: -50px;
  background-image: url(../images/red-arrow-next.svg);
}
@media screen and (max-width: 1023px) {
  .news__swiper-btn_next {
    right: 222px;
  }
}
@media screen and (max-width: 767px) {
  .news__swiper-btn_next {
    right: 5px;
  }
}
.news__pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  height: 17px;
  gap: 5px;
}
.news__pagination .swiper-pagination-bullet {
  background-color: var(--sand-color);
  width: 11px;
  height: 11px;
  opacity: 1;
  transition: all 0.4s ease;
}
.news__pagination .swiper-pagination-bullet-active {
  width: 17px;
  height: 17px;
  background-color: var(--red-color);
}

.product {
  margin-bottom: 78px;
}
.product__content {
  width: var(--content-width);
  margin: 0 auto;
}
.product__top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 72px;
}
@media screen and (max-width: 1023px) {
  .product__top {
    flex-direction: column;
  }
}
.product__gallery {
  width: 517px;
}
@media screen and (max-width: 767px) {
  .product__gallery {
    width: 100%;
    margin-bottom: 15px;
  }
}
.product__swiper {
  width: 100%;
}
@media screen and (max-width: 767px) {
  .product__swiper {
    margin-bottom: 12px;
  }
}
.product__swiper-wrapper {
  width: 100%;
  height: 517px;
}
@media screen and (max-width: 767px) {
  .product__swiper-wrapper {
    height: 370px;
  }
}
.product__swiper-item {
  width: 100%;
  height: 100%;
}
.product__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
  border-radius: 10px;
  cursor: pointer;
}
.product__thumbs {
  margin-top: 16px;
  width: 100%;
  height: 85px;
}
@media screen and (max-width: 767px) {
  .product__thumbs {
    height: 48px;
  }
}
.product__thumbs .swiper-slide {
  opacity: 0.5;
}
.product__thumbs .swiper-slide-thumb-active {
  opacity: 1;
  border-color: var(--red-color);
}
.product__thumbs-item {
  border: 1px solid transparent;
  box-sizing: border-box;
  border-radius: 10px;
}
.product__info {
  display: flex;
  flex-direction: column;
  width: 400px;
  height: 512px;
}
@media screen and (max-width: 1439px) {
  .product__info {
    width: 40%;
  }
}
@media screen and (max-width: 1023px) {
  .product__info {
    width: 54%;
    height: 438px;
  }
}
@media screen and (max-width: 767px) {
  .product__info {
    width: 100%;
    height: 364px;
  }
}
.product__main-title {
  font-weight: 500;
  font-size: 48px;
  line-height: 58px;
  margin: 0;
}
@media screen and (max-width: 1439px) {
  .product__main-title {
    font-size: 42px;
    line-height: 50px;
  }
}
@media screen and (max-width: 767px) {
  .product__main-title {
    font-size: 24px;
    line-height: 29px;
  }
}
.product__number {
  color: var(--grey-color);
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  margin: 0;
  display: block;
  margin-bottom: auto;
}
@media screen and (max-width: 767px) {
  .product__number {
    font-size: 14px;
    line-height: 17px;
  }
}
.product__delivery-list {
  color: var(--grey-color);
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  margin: 0;
  margin-bottom: 25px;
  padding-left: 25px;
}
@media screen and (max-width: 767px) {
  .product__delivery-list {
    font-size: 14px;
    line-height: 17px;
  }
}
.product__delivery-item {
  margin-bottom: 6px;
}
.product__price {
  display: block;
  color: var(--red-color);
  font-weight: 500;
  font-size: 48px;
  line-height: 58px;
  margin: 0;
  margin-top: 25px;
  margin-bottom: 40px;
}
@media screen and (max-width: 767px) {
  .product__price {
    font-size: 36px;
    line-height: 43px;
    margin-top: 15px;
    margin-bottom: 10px;
    text-align: center;
  }
}
.product__btn {
  width: 100%;
}
.product__about {
  width: 608px;
  margin-bottom: 30px;
}
@media screen and (max-width: 1023px) {
  .product__about {
    width: 100%;
  }
}
.product__chars {
  width: 190px;
}
.product__chars-item {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 14px;
  border-bottom: 1px solid #000;
}
.product__chars-txt {
  margin: 0;
}
.product__bg {
  display: block;
  z-index: -1;
  width: 750px;
  height: 893px;
  background: url(../images/big-red-square-product.png) no-repeat center/contain;
  position: absolute;
  top: 435px;
  right: -380px;
}
@media screen and (max-width: 1439px) {
  .product__bg {
    width: 539px;
    height: 601px;
    top: 561px;
    right: -272px;
  }
}
@media screen and (max-width: 1023px) {
  .product__bg {
    display: none;
  }
}

.catalog {
  position: relative;
}
.catalog__content {
  width: var(--large-content-width);
  margin: 0 auto;
}
.catalog__wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 1023px) {
  .catalog__wrapper {
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 75px;
  }
}
.catalog__side {
  width: 286px;
  max-height: 1196px;
}
@media screen and (max-width: 1439px) {
  .catalog__side {
    width: 23%;
  }
}
.catalog__side-btn {
  display: none;
  position: absolute;
  top: 42px;
  left: -20px;
  height: 37px;
  width: 136px;
  font-size: 14px;
  line-height: 17px;
  box-sizing: border-box;
  padding: 10px 17px;
}
@media screen and (max-width: 1023px) {
  .catalog__side-btn {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
}
.catalog__side-btn::before {
  display: inline-block;
  content: "";
  width: 24px;
  height: 24px;
  background: url(../images/filter.svg) no-repeat center/contain;
  margin-right: 11px;
}
.catalog__side-content {
  background: #FFFFFF;
  border-radius: 10px;
  width: 100%;
  height: 100%;
}
@media screen and (max-width: 1023px) {
  .catalog__side-content {
    display: none;
  }
}
.catalog__main {
  width: 900px;
}
@media screen and (max-width: 1439px) {
  .catalog__main {
    width: 75%;
  }
}
@media screen and (max-width: 1023px) {
  .catalog__main {
    width: 100%;
  }
}
.catalog__cards {
  display: flex;
  flex-wrap: wrap;
  -moz-column-gap: 21px;
       column-gap: 21px;
  row-gap: 24px;
}
@media screen and (max-width: 1023px) {
  .catalog__cards {
    justify-content: center;
  }
}
.catalog__info {
  margin-top: 60px;
  margin-bottom: 140px;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-top: 62px;
}
@media screen and (max-width: 767px) {
  .pagination {
    margin-top: 42px;
  }
}
.pagination__list {
  display: flex;
  align-items: center;
  gap: 20px;
}
.pagination__link {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  margin: 0;
  transition: all 0.4s ease;
}
.pagination__link:hover {
  opacity: 0.6;
}
.pagination__link_active {
  color: var(--red-color);
}
.pagination__btn {
  display: block;
  width: 24px;
  height: 24px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  transition: all 0.4s ease;
  cursor: pointer;
}
.pagination__btn:hover {
  opacity: 0.6;
}
.pagination__btn_back {
  background-image: url(../images/pagination-back.svg);
}
.pagination__btn_next {
  background-image: url(../images/pagination-next.svg);
}

.headline {
  margin-bottom: 48px;
  position: relative;
  overflow: hidden;
}
.headline__content {
  width: var(--large-content-width);
  margin: 0 auto;
  position: relative;
}
.headline__title {
  font-weight: 500;
  font-size: 48px;
  line-height: 58px;
  margin: 0;
  margin-top: 47px;
}
@media screen and (max-width: 767px) {
  .headline__title {
    margin-top: 0;
    font-size: 24px;
    line-height: 29px;
  }
}
.headline__date {
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  margin: 0;
  display: block;
  margin-bottom: 29px;
  color: var(--grey-color);
}
.headline__img {
  display: block;
  width: 100%;
  height: 517px;
  border-radius: 10px;
  margin-bottom: 68px;
}
@media screen and (max-width: 767px) {
  .headline__img {
    height: 44.6vw;
    margin-bottom: 16px;
  }
}
.headline__bg {
  position: absolute;
  display: block;
  width: 1147px;
  height: 1165px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url(../images/big-red-square.png);
  z-index: -1;
}
@media screen and (max-width: 1023px) {
  .headline__bg {
    display: none;
  }
}
.headline__bg_first {
  top: -243px;
  left: -1181px;
}
.headline__bg_second {
  right: -1175px;
  top: 216px;
}

.contacts {
  margin-bottom: 126px;
}
.contacts__content {
  width: var(--large-content-width);
  margin: 0 auto;
}
.contacts__title {
  font-weight: 600;
  font-size: 20px;
  line-height: 33px;
  margin: 0;
  margin-top: 38px;
  margin-bottom: 13px;
  width: 410px;
}
@media screen and (max-width: 1023px) {
  .contacts__title {
    margin-left: auto;
    margin-right: auto;
  }
}
.contacts__wrapper {
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 1023px) {
  .contacts__wrapper {
    flex-direction: column;
    width: 100%;
    align-items: center;
  }
}
.contacts__info {
  width: 312px;
}
@media screen and (max-width: 1023px) {
  .contacts__info {
    margin: 0 auto 15px;
    width: 410px;
  }
}
@media screen and (max-width: 767px) {
  .contacts__info {
    width: 100%;
  }
}
.contacts__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  width: 100%;
  height: 51px;
}
.contacts__box {
  display: flex;
  align-items: center;
  width: 188px;
  min-height: 51px;
  border: 1px solid var(--red-color);
  box-sizing: border-box;
  padding: 11px 9px;
  border-radius: 10px;
}
.contacts__box_large {
  width: 100%;
}
@media screen and (max-width: 1023px) {
  .contacts__box {
    flex-grow: 1;
    margin-right: 10px;
  }
}
.contacts__link {
  height: 100%;
  width: 118px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 15px;
  line-height: 33px;
}
.contacts__txt {
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  margin: 0;
}
@media screen and (max-width: 767px) {
  .contacts__txt {
    font-size: 14px;
  }
}
.contacts__txt-bold {
  font-weight: 600;
  font-size: 15px;
  line-height: 33px;
  margin: 0;
}
.contacts__icon {
  display: block;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  margin-right: 12px;
}
.contacts__icon_map {
  margin-bottom: auto;
}
.contacts__map-wrapper {
  width: 694px;
  height: 469px;
  border-radius: 10px;
  overflow: hidden;
  margin-right: 92px;
}
@media screen and (max-width: 1439px) {
  .contacts__map-wrapper {
    margin-right: 0;
    width: 57%;
  }
}
@media screen and (max-width: 1023px) {
  .contacts__map-wrapper {
    width: 80%;
  }
}
@media screen and (max-width: 767px) {
  .contacts__map-wrapper {
    width: 100%;
  }
}
.contacts__map {
  width: 100%;
  height: 100%;
  border: none;
}/*# sourceMappingURL=styles.css.map */