.button {
  @include font(700, 24px, 30px);
  border: 1px solid $red-color;
  background-color: $red-color;
  border-radius: 8px;
  box-sizing: border-box;
  color: #fff;
  padding: 0;
  margin: 0;
  height: 54px;
  cursor: pointer;
  @include transition;

  &:hover {
    background-color: #fff;
    color: $red-color;
  }
}