.breadcrumbs {
  @include font(300, 14px, 17px);
  margin-top: 24px;
  margin-bottom: 32px;
  display: flex;
  column-gap: 22px;
  align-items: center;
  color: var(--grey-color);
  flex-wrap: wrap;

  @media screen and (max-width:767px) {
    column-gap: 2px;
    font-size: 12px;
    line-height: 14px;
  }

  &__link {
    @include transition;

    &_active {
      text-decoration: underline;
    }

    &:hover {
      opacity: .6;
    }
  }
}