.card {
  width: 286px;
  height: 354px;
  background: #FFFFFF;
  box-shadow: 6px 0px 25px rgb(0 0 0 / 6%);
  border-radius: 10px;
  box-sizing: border-box;
  border: 2px solid transparent;
  @include transition;

  &:hover {
    border-color: var(--red-color);
  }

  &__link {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
  }

  &__img {
    height: 162px;
    width: 100%;
    object-fit: cover;
    margin-bottom: 9px;
    border-radius: 10px 10px 0 0;
  }

  &__content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    width: 100%;
    padding: 0 24px 24px;
    box-sizing: border-box;
  }

  &__title {
    @include font(500, 24px, 29px);
    margin-bottom: 6px;
    color: #000;
  }

  &__number {
    @include font(400, 14px, 25px);
    color: #808080;
    opacity: .7;
  }

  &__price {
    margin-top: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  &__price-old {
    display: block;
    @include font(500, 18px, 27px);
    color: #808080;
    text-decoration-line: line-through;
  }

  &__price-new {
    display: block;
    @include font(500, 43px, 52px);
    color: var(--red-color);
  }
}