.contacts {
  margin-bottom: 126px;

  &__content {
    width: var(--large-content-width);
    margin: 0 auto;
  }

  &__title {
    @include font(600, 20px, 33px);
    margin-top: 38px;
    margin-bottom: 13px;
    width: 410px;

    @media screen and (max-width: 1023px) {
      margin-left: auto;
      margin-right: auto;
    }
  }

  &__wrapper {
    display: flex;
    justify-content: space-between;

    @media screen and (max-width: 1023px) {
      flex-direction: column;
      width: 100%;
      align-items: center;
    }
  }

  &__info {
    width: 312px;

    @media screen and (max-width: 1023px) {
      margin: 0 auto 15px;
      width: 410px;
    }

    @media screen and (max-width: 767px) {
      width: 100%;
    }
  }

  &__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    width: 100%;
    height: 51px;
  }

  &__box {
    display: flex;
    align-items: center;
    width: 188px;
    min-height: 51px;
    border: 1px solid var(--red-color);
    box-sizing: border-box;
    padding: 11px 9px;
    border-radius: 10px;

    &_large {
      width: 100%;
    }

    @media screen and (max-width: 1023px) {
      flex-grow: 1;
      margin-right: 10px;
    }

    @media screen and (max-width: 767px) {}
  }

  &__link {
    height: 100%;
    width: 118px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    line-height: 33px;
  }

  &__txt {
    @include font(500, 16px, 16px);

    @media screen and (max-width: 767px) {
      font-size: 14px;
    }
  }

  &__txt-bold {
    @include font(600, 15px, 33px);
  }

  &__icon {
    display: block;
    height: 100%;
    object-fit: contain;
    margin-right: 12px;

    &_map {
      margin-bottom: auto;
    }
  }

  &__map-wrapper {
    width: 694px;
    height: 469px;
    border-radius: 10px;
    overflow: hidden;
    margin-right: 92px;

    @media screen and (max-width: 1439px) {
      margin-right: 0;
      width: 57%;
    }

    @media screen and (max-width: 1023px) {
      width: 80%;
    }

    @media screen and (max-width: 767px) {
      width: 100%;
    }
  }

  &__map {
    width: 100%;
    height: 100%;
    border: none;
  }
}