.hero {
  width: 100%;
  height: 542px;
  position: relative;
  margin-bottom: 20px;

  @media screen and (max-width: 767px) {
    height: 321px;
  }

  &__content {
    width: var(--large-content-width);
    padding-top: 66px;
    margin: 0 auto;
    position: relative;
    z-index: 2;

    @media screen and (max-width: 767px) {
      padding-top: 32px;
    }
  }

  &__title {
    margin: 0;
    color: #fff;
    max-width: 675px;
    @include font(900, 74px, 73px);

    @media screen and (max-width: 767px) {
      font-size: 31px;
      line-height: 32px;
    }
  }

  &__txt-block {
    position: relative;
    z-index: 3;
    max-width: 495px;
    margin: 18px 0 38px;

    @media screen and (max-width: 767px) {
      margin-top: 28px;
      margin-bottom: 33px;
      max-width: 280px;
    }

    &::after {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
      display: block;
      width: 100%;
      height: 100%;
      background: rgba(255, 255, 255, 0.02);
      backdrop-filter: blur(4.5px);
      z-index: 2;
      border-radius: 24px;
    }
  }

  &__txt {
    color: #fff;
    display: block;
    @include font(400, 24px, 29px);
    margin: 0;
    position: relative;
    z-index: 3;

    @media screen and (max-width: 767px) {
      font-size: 14px;
      line-height: 17px;
    }
  }

  &__btn {
    width: 399px;

    @media screen and (max-width: 767px) {
      display: block;
      width: 80%;
      margin: 0 auto;
    }
  }

  &__swiper {
    width: 100%;
    height: 100%;
  }

  &__swiper-wrapper {
    width: 100%;
    height: 100%;
    position: relative;
  }

  &__swiper-slide {
    width: 100%;
    height: 100%;

    &_first {
      background: url(../images/hero-background.jpg) no-repeat center / cover;
    }
  }

  &__pagination {
    display: flex;
    gap: 5px;
    position: absolute;
    z-index: 3;
    width: unset !important;
    left: 50% !important;
    bottom: 16px !important;
    transform: translateX(-50%);

    .swiper-pagination-bullet {
      width: 11px;
      height: 11px;
      background-color: #fff;
      opacity: 1;
    }

    .swiper-pagination-bullet-active {
      background-color: var(--red-color);
    }
  }
}