.recommend {

  margin-bottom: 45px;

  &__content {
    width: var(--large-content-width);
    margin: 0 auto;
    position: relative;
  }

  &__swiper-wrapper {
    margin-bottom: 57px;
  }

  &__title {
    @include font(700, 32px, 40px);
    margin-bottom: 46px;
    text-align: center;
    color: var(--grey-color);

    @media screen and (max-width: 767px) {
      font-size: 24px;
      line-height: 30px;
      margin-bottom: 30px;
    }
  }

  &__swiper-btn {
    display: block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 24px;
    height: 24px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;

    @media screen and (max-width: 1023px) {
      top: 504px;
    }

    @media screen and (max-width: 767px) {
      top: 479px;
    }

    &_back {
      left: -50px;
      background-image: url(../images/red-arrow-back.svg);

      @media screen and (max-width: 1023px) {
        left: 200px;
      }

      @media screen and (max-width: 767px) {
        left: 5px
      }
    }

    &_next {
      right: -50px;
      background-image: url(../images/red-arrow-next.svg);

      @media screen and (max-width: 1023px) {
        right: 200px;
      }

      @media screen and (max-width: 767px) {
        right: 5px;
      }
    }
  }

  &__swiper-pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 17px;
    gap: 4px;

    .swiper-pagination-bullet {
      width: 11px;
      height: 11px;
      background-color: var(--sand-color);
      opacity: 1;
      @include transition;
    }

    .swiper-pagination-bullet-active {
      width: 17px;
      height: 17px;
      background-color: var(--red-color);
    }
  }
}